.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : #ffffff;
}

.character img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.character h2 {
  font-size: 30px;
  margin-bottom: 10px;
    color: #52aa61;
}

.character span {
    font-size: 20px;
    margin: 12px;

}

.character p {
  font-size: 16px;
 
}

.data {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : #ffffff; */
  
}



