.nav{
    /* box-shadow: 1px rgba(255, 255, 255, 0.2); */
    height: 50px;
    /* background-color: #1a1a1a; */
    font-size: 26px;
    display: flex;
    justify-content: end;
    align-items: center;
    
    

}

.links{
    padding-top: 20px;
    margin-right:30px;
}

.links:hover{
    /* color: rgb(170, 255, 114); */
    background: -webkit-linear-gradient(#98fb4c, #81ffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}