.card {
    width: 230px;
    background-color: #1a1a1a;
    color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: width 2s;
  }

  .card:hover {
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.2);
    width: 300px;
    
  }


  
  .card-img {
    display: flex;
    justify-content: center;
  }

  .card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .card p {
    margin-bottom: 4px;
  }
   